<div class="dialpad" (click)="onDialpadClicked($event)">
  <input matInput>
  <div class="digits">
    <div class="row">
      <button mat-icon-button mat-stroked-button>
        1
      </button>
      <button mat-icon-button mat-stroked-button>
        2
        <span>abc</span>
      </button>
      <button mat-icon-button mat-stroked-button>
        3
        <span>def</span>
      </button>
    </div>
    <div class="row">
      <button mat-icon-button mat-stroked-button>
        4
        <span>ghi</span>
      </button>
      <button mat-icon-button mat-stroked-button>
        5
        <span>jkl</span>
      </button>
      <button mat-icon-button mat-stroked-button>
        6
        <span>mno</span>
      </button>
    </div>
    <div class="row">
      <button mat-icon-button mat-stroked-button>
        7
        <span>prqs</span>
      </button>
      <button mat-icon-button mat-stroked-button>
        8
        <span>tuv</span>
      </button>
      <button mat-icon-button mat-stroked-button>
        9
        <span>wxyz</span>
      </button>
    </div>
    <div class="row">
      <button mat-icon-button mat-stroked-button>*</button>
      <button mat-icon-button mat-stroked-button>
        0
        <span>+</span>
      </button>
      <button mat-icon-button mat-stroked-button>#</button>
    </div>
  </div>
</div>


