:host > div {
  display: inline-flex;
  align-items: center;
  height: 100%;
  
  app-crm-button {
    margin-left: 20px;
  }
  
  div, app-crm-button  {
    min-width: 40px;
    margin-right: 20px;

    &:last-child:not(:only-child) {
      margin-right: 0;
    }

    mat-slide-toggle {
      /deep/ span.mat-slide-toggle-content {
        b {
          font-size: 18px;
        }
      }
    }
  }

  .multicampaign-holder {
    max-height: 100%;
    overflow-y: auto;
  }
}

:host-context(.vertical) {
  flex-direction: column;
  width: 100%;

  > div {
    width: 100%;
    padding: 0 15px;
    justify-content: space-between;
    box-sizing: border-box;
    height: 60px;
    align-items: center;

    app-crm-button {
      margin-left: 0;
    }
  }
}